body {
    background-image: url('https://th.bing.com/th/id/OIP.0nm8nJS-QDQU4zuAR6YmYAHaNK?rs=1&pid=ImgDetMain');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #333;
}

.content {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 20px;
    margin: 20px;
}

/* Table styles */
table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: rgba(0, 0, 255, 0.1); /* 表格背景颜色 */
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    height: 50px;
    background-color: rgba(255, 255, 0, 0.3); /* 表格单元格背景颜色 */
}

tr {
    height: 60px;
}

.align-top-left {
    text-align: left;
    vertical-align: top;
}

.no-wrap {
    white-space: nowrap;
}

.custom-link {
    text-decoration: none; /* 去掉下划线 */
    color: #333; /* 设置默认颜色 */
}

.custom-link:hover {
    color: #ff0000; /* 当悬停时改变颜色 */
    text-decoration: none; /* 确保悬停时没有下划线 */
}

/* 头部颜色 */
.header {
    background-color: #f0f0f0;
}

/* 菜单栏颜色 */
.menu-bar {
    background-color: #cccccc;
}

/* 左侧边栏颜色 */
.left-sidebar {
    background-color: #eeeeee;
}

/* 内容颜色 */
.main-content {
    background-color: #ffffff;
}

/* 右侧边栏颜色 */
.right-sidebar {
    background-color: #dddddd;
}

/* 底部颜色 */
.footer {
    background-color: #bbbbbb;
}
